STRIPE_SECRET_KEY=sk_live_or_test_xxx
STRIPE_WEBHOOK_SECRET=whsec_xxx
STRIPE_ACCOUNT_ID=acct_1SSn7FLj7xpcsZBz
PAYPAL_CLIENT_ID=xxx
PAYPAL_SECRET=xxx
PAYPAL_WEBHOOK_ID=xxx
PAYPAL_ENV=live
MONGODB_URI=xxx
ALCHEMY_ARBITRUM_RPC=xxx
LEDGER_HMAC_SECRET=xxx
FRONTEND_ORIGIN=*
PORT=3000
